
<div class="content">
	<div class="newOrderPage">
		<h2>SHARE SOME FOOD</h2>
	</div>
	<div>
		<div class="title">
			<h5>Title</h5>
			<input type="text"
				[formControl]="title">
		</div>
		<div class="location">
			<h5>Location</h5>
			<input type="text"
				[formControl]="location">
		</div>
		<div class="items">
			<h5>Items</h5>
			<table>
				<tr>
					<th><div class="tips">Name</div></th>
					<th><div class="tips">Expiration date</div></th>
					<th></th>
				</tr>
				<tr *ngFor="let it of products">
					<td> <div class="added">{{it.name}}</div></td>
					<td> <div class="added">{{it.expirationDate}} </div></td>
					<td><button class="del" (click)="deleteItem(it)"><span>Delete</span></button></td>
				</tr>
				<tr>
					<td><input type="text" [formControl]="itemName" value=""></td>
					<td><input type="date" [formControl]="itemDate" value=""></td>
					<td><button (click)="addItem()"><span>Add</span></button></td>
				</tr>
			</table>
		</div>
		<div class="availability">
			<h5>Availability</h5>
			<table>
				<tr>
					<th><div class="tips">Provide some information...</div></th>
					<th></th>
				</tr>
				<tr *ngFor="let avail of availabilities">
					<td ><div class="added">{{avail}}</div></td>
					
					<td><button class="del" (click)="deleteAvailability(avail)"><span>Delete</span></button></td>
				</tr>
				<tr>
					<td ><input type="text" [formControl]="availaibility"></td>
				
								<td><button (click)="addAvailability()"><span>Add</span></button></td>
				</tr>
			</table>
		</div>
		<div class="email">
			<h5>Your e-mail</h5>
			<input type="email" 		
				[formControl]="email">
		</div>
		<div class="userName">
			<h5>Your name</h5>
			<input type="text"
				[formControl]="userName">
		</div>
		<div >
			<h5>Foundations only</h5>
			<input type="checkbox" 		
				[formControl]="foundationsOnly">
		</div>
		
		<div>
			<button class="big" (click)="send()">SEND</button>
		</div> 
	</div>
</div>

				