<div class="content">
		<div class="header">
			<div class="inline">
				<h2>{{ offer.offerDescription }}</h2>
				<p>{{ offer.address }}</p>
			</div>
		</div>
		<h5>ITEMS</h5>
			<ul>
				<li *ngFor="let product of offer.productIds">
					<div class="listDiv" style="width: 40%">
						<div style="width: 40%">{{product}}</div>
						<div style="width: 40%">Expiration date</div>
						<input class="cb" type="checkbox" (click)="selectProduct(product)">I take this
					</div>
				</li>
			</ul>
			
		<h5>TIME</h5>
			<ul>
				<li *ngFor="let receiveTime of offer.receiveTimes">
					<div class="font">{{receiveTime}}</div>
					<input class="cb" type="checkbox">I take this
				</li>
			</ul>
			<div class="title" style="display:inline-block">
				<h5>Your Name</h5>
				<input type="text"
					[formControl]="userName">
			</div>
			<div class="title" style="display:inline-block">
				<h5>Your E-mail</h5>
				<input type="text"
					[formControl]="email">
			</div>
			<div>
				<button class="big" (click)="send()">SEND</button>
			</div> 
		</div>