<div class="homePage">
	<div class="browser rowDiv">
		<div class="browseText">BROWSE</div>
		<div class="browseInputs buttonAddDiv">
			<input class="inputText"
				[formControl]="searchText">
			<button class="buttonSearch" (click)="searchOffer()">SEARCH</button>
		</div> 
	</div>
	<div id="tiles" class="rowDiv">
		<div *ngFor="let offer of offers">
			<mat-card [routerLink]="['/new-offer-confirm']">
				<div class="offerDiv">
					<div class="offerPhoto"><img class="offerPhoto" src="{{offer.offerImage}}"></div>
					<div class="offerTitle">{{offer.offerDecription}}</div>
					<div class="offerPlace">{{offer.address}}</div>
					<div class="offerDate">{{offer.creationDate}}</div>
					<div>{{offer.offerId}}</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>
