<div class="content">
        <div class="homePage">
    <div class="browser rowDiv" style="display: flex; flex-direction: row;align-items: center; flex-wrap: wrap;">
        <h2 style="width: 60%">BROWSE</h2>
        <div class="browseInputs buttonAddDiv" style="display: flex; flex-direction: row;align-items: center;">
        	<label><input type="checkbox" [(formControl)]="filterCheckbox"/>I AM FOUNDATION</label>
            <input class="inputText" style="height: 25px; margin:0 20px 0 0; "
                [formControl]="searchText">
            <button  style="width: 200px;"(click)="searchOffer()">SEARCH</button>
        </div>
    </div>
    <div id="tiles" class="rowDiv">
        <div *ngFor="let offer of offers" style="display:flex">
            <mat-card [routerLink]="['/offer']" [queryParams]="{ offerId: offer.offerId }" >
                <div class="offerDiv">
                    <div class="offerPhoto"><img class="offerPhoto" src="{{offer.offerImage}}"></div>
                    <h5>{{offer.offerDecription}}</h5>
                    <p class="data"><img src="/assets/images/check.png" />{{offer.address}}</p>
                    <p class="data"><img src="/assets/images/clock.png" />{{offer.creationDate}}</p>
                </div>

               
            </mat-card>
        </div>
    </div>


        </div>