@import url('https://fonts.googleapis.com/css?family=Poppins');

.homePage{
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	background-color:#f1f1f1;
}
.rowDiv{
	display: flex;
	flex-direction: row;
}

.header{
	height: 100px;
	background-color: white;
}

.buttonAdd{
	border-radius: 25px;
	border: none;
	background: -webkit-linear-gradient(-7deg, #ff9966 0%, #ffff99 100%);
	background: -moz-linear-gradient(-7deg, #ff9966 0%, #ffff99 100%);
	background: -o-linear-gradient(-7deg, #ff9966 0%, #ffff99 100%);
	background: -ms-linear-gradient(-7deg, #ff9966 0%, #ffff99 100%);
	background: linear-gradient(97deg, #ff9966 0%, #ffff99 100%);
	padding: 10px 40px;
	height: 50px;
	width: 270px;
	
	font-family: Poppins;
	color:  #ffffff;
	font-size: 19.85px;
	font-weight: 800;
	text-align: center;
	transform: scaleY(1.0078);
}

.inputText{
	border-radius: 100px;
	border-width: 1px;
	border-color:  #ffc17b;
	border-style: solid;
	background-color:  #ffffff;
	width: 270px;
	height: 40px;
}

button{
  	background-image: -moz-linear-gradient( -7deg, rgb(255,153,102) 0%, rgb(223,215,82) 100%);
  	background-image: -webkit-linear-gradient( -7deg, rgb(255,153,102) 0%, rgb(223,215,82) 100%);
  	background-image: -ms-linear-gradient( -7deg, rgb(255,153,102) 0%, rgb(223,215,82) 100%);
  	width: 135px;
  	height: 40px;
  	font-size: 16px;
  	font-family: Poppins, sans-serif;
  	color: white;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-align: center;
  	border-radius: 20px;
  	border: none;
}

.browser{
	height: 150px;
}

.browseText{
	font-family: Poppins;
	color:  #1a1a1a;
	font-size: 45px;
	font-weight: 800;
	text-align: left;
	padding-top: 50px;
	width:60%
}

.browseInputs{
	float: right;
	width: 70%;
	padding-top: 65px;
}

.photo{
	background-image: url("/assets/images/basket_mainPhoto.jpg");
	width: 100% !important;
}

.h1{
	font-family: Poppins;
	color:  #ffffff;
	font-size: 80px;
	font-weight: 400;
	line-height: 72px;
	text-align: right;
}

.h4{
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 36px;
	font-weight: 400;
	text-align: right;
}

.photoText{
	padding: 100px;
}

.buttonAddDiv{
	width:60%;
	text-align: right;
}

.offerDiv{
	background-color:#ffffff;
	box-shadow: 0px 0px 14.88px 1.12px rgba(36, 31, 32, 0.19);
	width: 270px;
	height: 330px;
	margin: 10px;
}

.offerPhoto{
	width: 270px;
	height: 175px;
}

.offerTitle{
	font-family: OpenSans;
	color: #1a1a1a;
	font-size: 26px;
	font-weight: 700;
	text-align: left;
}

.offerPlace{
	font-family: OpenSans;
	color: #1a1a1a;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}

.offerDate{
	font-family: OpenSans;
	color: #1a1a1a;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}