<div class="content">
	<p class="titleText">THANKS FOR YOUR CONTRIBUTION!</p>
	<p class="contentText"> You're a magician! Your secret spell can conjure up a smile.</p>
	<p class="contentText">Your offer has been added. In the next 12h only organizations that help poor people have access to it. After this time every member of our community can take you up on your offer. We will inform you if someone reserves it. </p>
	<p class="contentText"> Within 10 seconds you will be redirected to the main page. </p>
	<button class="buttonBack" (click)="backToMain()">BACK TO BROWSING</button>
</div>
