<div class="content">
	<p class="titleText">YEAH! YOUR ORDER IS COMPLETED</p>
	<p class="contentText"> Thanks for taking part in our magic. </p>
	<p class="contentText"> Check your e-mail box, we've sent you contact information to food provider. Of course, they got e-mail with contact information to you too. We wish you a nice meeting. </p>
	<p class="contentText"> Within 10 seconds you will be redirected to the main page. </p>
	<button class="buttonBack" (click)="backToMain()">BACK TO BROWSING</button>
</div>
