<div class="content">
	<h2>YEAH! YOUR ORDER IS COMPLETED</h2>
	<p class="contentText"> Thanks for taking part in our magic. </p>
	<p class="contentText"> Check your e-mail box, we've sent you contact information to food provider. Of course, they got e-mail with contact information to you too. We wish you a nice meeting. </p>
	<p class="contentText"> Within 10 seconds you will be redirected to the main page. </p>
	<button style="min-width:250px" (click)="backToMain()">BACK TO BROWSING</button>
</div>
